# fly.toml app configuration file generated for ltv-desking-pro-api on 2025-12-05T17:45:53-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ltv-desking-pro-api'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile'

[[mounts]]
  source = 'ltv_desking_data'
  destination = '/pb/pb_data'
  initial_size = '1gb'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
